
/*===============================GENERAL PAGE STYLING==================*/
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #222220;
}
.oddInfo {
    background-color: #222220;
}
.evenInfo {
    background-color: #1f1f1d;

}
p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #dfdfdf;
}
a:hover, a:focus{
    color: #dbb238;
    text-decoration: none;
}
li {
    list-style:none;
}
main {
    margin-top: 5rem;
}
#content heading {
    color: #dfdfdf;
    font-size: 2rem;

}
.contentInfo {

}
.contentInfo hr{
    background-color: #999;
    margin: auto 0;
}
.contentInfo h5, .contentInfo h4, .contentInfo h6{
    color: #dfdfdf;
}
.contentInfo p, .contentInfo li {
    color: #999;
    font-size: 1rem;
}
 .headingHr {
    width: 5rem;
    height: .25rem;
    margin: auto 0;
    background-color: #dbb238;

}
 .fa-arrow-right {
     color: #dbb238;
 }
#resume {
    background-color: #222220;
    color: #dfdfdf;
    border: .15rem solid #dbb238;
    height: 3rem;
}
#resume:hover {
    background-color: #dbb238;
}


/*===============================NAVBAR STYLING=======================*/
.navColumn, #icon {
    height: 100%;
}
#myNavItems {
    background-color: #040404;

}
#headerSm {
     background-color: #040404;
     max-width: 100%;
     position: fixed;
     top: 0;
     height: 3rem;
 }
#headerLg {
    background-color: #040404;
    position: fixed;
    left: 0;
    width: 12.5rem;
    height: 100%;
}
#myImageBox {
    width: 10rem;
    height: 11rem;
    border: 1px solid #dfdfdf
}
hr {
    background-color: #333;
}
navbar li {
    list-style: none;
    font-size: 0.75rem;
}
#headerSm p, #headerLg p {
    font-size: 1.25rem;
}
ul {
    width: 10rem;
}
/*===============================NAVBAR STYLING=======================*/


/*===============================MAIN STYLING=======================*/

/*===============================MAIN STYLING=======================*/
