
/*===============================GENERAL PAGE STYLING==================*/
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #16161a;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}
/*FIGURE OUT NO SCROLL FEATURE ON MD AND LARGER SCREEN SIZES(keep scroll available for mobile version*/
.noScroll {
    /*background-color: #16161a;*/
    /*overflow-y: hidden;*/
    /*overflow-x: hidden;*/
}
.oddInfo {
    background-color: #16161a;
}
.evenInfo {
    background-color: #121316;
}
p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #dfdfdf;
}
.link:hover{
    color: #dbb238;
    text-decoration: none;
}
.link1:hover{
    color: #dbb238;
    text-decoration: none;
}
li {
    list-style:none;
}
/*look into smaller margin for mobile view*/
.mainMobile {
    margin-top: 3rem;
}
.content heading {
    color: #dfdfdf;
    font-size: 2rem;
}
.contentInfo {
    color: #dfdfdf;
}
.contentInfo hr{
    background-color: #999;
    margin: auto 0;
}
.contentInfo h5, .contentInfo h4, .contentInfo h6, h3{
    color: #dfdfdf;
    font-weight: normal;
}
.contentInfo p, .contentInfo li {
    color: #999;
    font-size: .9rem;
}
 .headingHr {
    width: 5rem;
    height: .25rem;
    margin: auto 0;
    background-color: #dbb238;

}
 .fa-arrow-right,
 .fa-id-card,
 .fa-laptop-code,
 .fa-graduation-cap,
 .fa-map-marker-alt,
 .fa-phone-alt, .fa-envelope,
 .fa-linkedin-in,
 .fa-facebook-f {
     color: #dbb238;
 }
 .formButton {
     background-color: #222220;
     color: #dfdfdf;
     border: .15rem solid #dbb238;
     height: 3rem;
     width: 10.25rem;
 }
.resume {
    background-color: #222220;
    color: #dfdfdf;
    border: .15rem solid #dbb238;
    height: 3rem;
}
.resume:hover , .formButton:hover {
    color: #222220;
    background-color: #dbb238;
    transition: color .35s, background-color .35s;
}
.inputStyle {
    background-color: #dfdfdf;
}
.fa-angle-up {
    background-color: #dfdfdf;
    color: #040404;

}
.toTopOfPage {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    background-color: #dfdfdf;
}

/*===============================MAIN STYLING=======================*/
::-webkit-scrollbar {
    display: none;
}
.slide {
    position: static;
    left: 12.5rem;
    width: 767px; !important;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}
.wrapper {
    float:left;
    display: flex;
    flex-direction: row;
    width: 6136px; !important;
}
.outer-wrapper {
    position: absolute;
    left: 12.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 6318px;
}
/*===============================MAIN STYLING=======================*/
/*===============================NAVBAR STYLING=======================*/
.navColumn, #icon {
    height: 100%;
}
.navColumn a {
    width: 3rem;
}
#myNavItems {
    background-color: #040404;
    position: relative;
    display: block;
}
#headerSm {
    background-color: #040404;
    max-width: 100%;
    position: fixed;
    top: 0;
    height: 3rem;
}
#headerLg {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 100%;
    background-color: #040404;
}
#myImageBox {
    width: 10rem;
    height: 11rem;
    border: 1px solid #dfdfdf
}
hr {
    background-color: #333;
}
navbar li {
    list-style: none;
    font-size: 0.75rem;
}
#headerSm p, #headerLg p {
    font-size: 1.25rem;
}
ul {
    width: 10rem;
}
/*===============================NAVBAR STYLING=======================*/