/*
browns dark to light
553400
805615
aa7e39
d4ab6a
ffdeaa

blues dark to light
051c38
143153
2b4a6f
4b688b
748ba7
*/

/*===============================GENERAL PAGE STYLING==================*/
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #051c38;
    /*background-color: #141E2A;*/
    overflow-x: hidden;
}
.oddInfo {
    background-color: #2b4a6f;
    /*background-color: #374852;*/
}
.oddInfo hr {
    background-color: #d4ab6a;
}
.evenInfo hr {
    background-color: #ffdeaa;
}
.evenInfo {
    background-color: #4b688b;
    /*background-color: #4B6371;*/
}
p {
    color: #C8C4BD;
    /*color: #182223;*/
    /*color: #A07D30;*/
    font-family: 'Open Sans', sans-serif;
}
a {
    /*color: #dfdfdf;*/
    color: #C8C4BD;
}
.link:hover{
    /*color: #dbb238;*/
    color: #d4ab6a;
    text-decoration: none;
}
.link1:hover{
    /*color: #dbb238;*/
    color: #d4ab6a;
    text-decoration: none;
}
li {
    list-style:none;
}
.mainMobile {
    margin-top: 3rem;
}
.content heading {
    color: #C8C4BD;

    font-size: 2rem;
}
.contentInfo {
    /*color: #dfdfdf;*/
    color: #C8C4BD;
}
.smNavbar hr, .lgNavbar hr {
    /*background-color: #ffdeaa;*/
    background-color: #d4ab6a;
}
.contentInfo hr{
    background-color: #999;

    margin: auto 0;
}
.contentInfo h5, .contentInfo h4, .contentInfo h6, h3{
    /*color: #dfdfdf;*/
    color: #C8C4BD;
    font-weight: normal;
}
.contentInfo p, .contentInfo li {
    /*color: #999;*/
    color: #C8C4BD;
    font-size: 1rem;
}
 .headingHr {
    width: 5rem;
    height: .25rem;
    margin: auto 0;
    /*background-color: #dbb238;*/
    background-color: #A07D30;
}
 .fa-arrow-right,
 .fa-id-card,
 .fa-laptop-code,
 .fa-graduation-cap,
 .fa-map-marker-alt,
 .fa-phone-alt, .fa-envelope,
 .fa-linkedin-in,
 .fa-github {
     /*color: #dbb238;*/
     color: #A07D30;
 }
 .formButton {
     background-color: #051c38;
     /*background-color: #141E2A;*/
     /*color: #dfdfdf;*/
     color: #C8C4BD;
     /*border: .15rem solid #dbb238;*/
     border: .15rem solid #A07D30;
     height: 3rem;
     width: 10.25rem;
 }
.resume {
    background-color: #d4ab6a;
    /*background-color: #141E2A;*/
    /*color: #dfdfdf;*/
    color: #051c38;

    /*border: .15rem solid #dbb238;*/
    border: .15rem solid #051c38;
    height: 3rem;
}
.resume:hover , .formButton:hover {
    color: #ffdeaa;

    /*background-color: #dbb238;*/
    background-color: #051c38;
    transition: color .35s, background-color .35s;
}
.inputStyle {
    /*background-color: #dfdfdf;*/
    background-color: #C8C4BD;
}
.fa-angle-up {
    background-color: #051c38;
    /*background-color: #141E2A;*/
    /*color: #040404;*/
    color: #C8C4BD;

}
.toTopOfPage {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    background-color: #051c38;
    /*background-color: #141E2A;*/

}

/*===============================MAIN STYLING=======================*/
::-webkit-scrollbar {
    display: none;
}
.slide {
    position: static;
    left: 12.5rem;
    width: 767px; !important;
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 100vh;*/
}
.wrapper {
    float:left;
    display: flex;
    flex-direction: row;
    width: 6136px; !important;
    height: 100%;
}
.outer-wrapper {
    position: absolute;
    left: 12.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
    /*height: 100vh;*/
    width: 6318px;
}
/*===============================MAIN STYLING=======================*/
/*===============================NAVBAR STYLING=======================*/
.navColumn, #icon {
    height: 100%;
}
.navColumn a {
    width: 3rem;
}
#myNavItems {
    background-color: #051c38;
    /*background-color: #141E2A;*/
    position: relative;
    display: block;
}
#headerSm {
    background-color: #051c38;
    /*background-color: #141E2A;*/
    max-width: 100%;
    position: fixed;
    top: 0;
    height: 3rem;
}
.headerSm {
    z-index: 1004;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #051c38;
    /*background-color: #141E2A;*/
}
.headerSm .img {
    width: 65%;
    height: 75%;
    background-image: url('img/tp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    z-index: 1004;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #051c38;
    /*background-color: #141E2A;*/
}
.header .img {
    width: 65%;
    height: 75%;
    background-image: url('img/tp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.message {
    height: 6rem;
    /*width: 115%;*/
    /*background: rgba(255,255,255,0.5);*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.message p {
    font-size: 3rem;
    color: black;
}
.h-btn {
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    background: rgba(255,255,255,0.5);
    /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.h-btn p{
    font-size: 1.5rem;
    color: black;
}
.hs-btn {
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    background: rgba(255,255,255,0.5);
    /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.hs-btn p{
    font-size: 1.5rem;
    color: black;
}
#headerLg {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 100%;
    background-color: #051c38;
    /*background-color: #141E2A;*/
}
.myImageBox {
    width: 10rem;
    height: 11rem;
    border: 1px solid #d4ab6a;
    /*border: 1px solid #A07D30;*/
}
hr {
    /*background-color: #333;*/
    background-color: #A07D30;
}
navbar li {
    list-style: none;
    font-size: 1rem;
}
#headerSm p, #headerLg p {
    font-size: 1.25rem;
}
ul {
    width: 10rem;
}
/*===============================NAVBAR STYLING=======================*/